footer {
    p {
        text-align: center;
        color: var(--color-white);
        font-size: var(--fontSize-pMedium);
        line-height: var(--lineHeight-pMedium);
        margin: 0;
        padding: 20px 0;
    }
}